@charset "UTF-8";
:root {
  --color-background: #f9fafb;
  --color-blue-dark: #4f46e5;
  --color-blue-dark-1: #2563eb;
  --color-blue-light: #3b82f6;
  --color-blue-background: #eff6ff;
  --color-white: #fff;
  --color-white-dark: #dbeafe;
  --color-white-dark-1: #d1d5db;
  --color-white-dark-2: #e5e7eb;
  --color-white-dark-3: #f0f0f0;
  --color-white-light-1: #f3f4f6;
  --color-black-dark: #1f2937;
  --color-black-light: #374151;
  --color-gray: #6b7280;
  --color-gray-light: #64748b;
  --color-green: #22c55e;
  --color-red: #ef4444;
  --color-purple: #841884;
  --color-orange: #ffa500;
  --color-pink: #ec4899;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 2.8vmin;
}

body {
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  min-height: 100vh;
  background-color: var(--color-background);
  /*background-size: cover;
  background-image: linear-gradient(to bottom, var(--color-bg), var(--color-white));
  background-repeat: no-repeat;*/
}

.text-h1 {
  font-size: 2.4rem;
  color: var(--color-white);
}

.text-h2 {
  font-size: 2rem;
  color: var(--color-black-dark);
}

.text-h3 {
  font-size: 1.6rem;
  color: var(--color-black-dark);
}

.text-p {
  text-align: center;
  color: var(--color-white-dark);
}

.text-a {
  text-decoration: none;
  color: var(--color-blue-light);
}

.text-btn {
  outline: none;
  border: none;
  color: var(--color-blue-light);
  transition: all 0.2s;
}

.text-addPart {
  border-radius: 20px;
  padding: 1.4rem;
  margin: 1.4rem 0 0;
  background-color: var(--color-background);
}

.text-Setpart {
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--color-white-dark-2);
}

.font-max {
  font-size: 2.8rem;
}

.font-lar {
  font-size: 2.4rem;
}

.font-plus {
  font-size: 2.3rem;
}

.font-big {
  font-size: 1.6rem;
}

.font-med {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 1.4rem;
}

.font-tiny {
  font-size: 1.2rem;
}

.font-min {
  font-size: 1.1rem;
}

.font-thick {
  font-weight: 700;
}

.font-fat {
  font-weight: 500;
}

.svg-frame {
  width: 4rem;
  height: 4rem;
}

.svg-big {
  width: 2.4rem;
  height: 2.4rem;
}

.svg-med {
  width: 2rem;
  height: 2rem;
}

.svg-sm {
  width: 1.6rem;
  height: 1.6rem;
}

.svg-tiny {
  width: 1.2rem;
  height: 1.4rem;
}

.margin-big {
  margin-bottom: 2rem;
}

.margin-med {
  margin-bottom: 1.5rem;
}

.margin-sm {
  margin-bottom: 1.2rem;
}

.margin-left {
  margin-left: 0.8rem;
}

.padding-nor {
  padding: 2.3rem;
}

.padding-sm {
  padding: 1.5rem;
}

.padding-tiny {
  padding: 1rem 1.6rem;
}

.padding-updown {
  padding: 1.2rem 0.9rem;
}

.padding-lr {
  padding: 0 1rem;
}

.border-circle {
  border-radius: 50px;
}

.shadow-light {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow-Littledark {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-dark {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1), 0 15px 20px rgba(0, 0, 0, 0.06);
}

.shadow-nav {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.black {
  color: #000;
}

.color-gray {
  color: var(--color-gray-light);
  fill: var(--color-gray-light);
}

.color-blue {
  color: var(--color-blue-dark-1);
  fill: var(--color-blue-dark-1);
}

.color-purple {
  color: var(--color-purple);
  fill: var(--color-purple);
}

.color-green {
  color: var(--color-green);
  fill: var(--color-green);
}

.color-red {
  color: var(--color-red);
  fill: var(--color-red);
}

.color-orange {
  color: var(--color-orange);
  fill: var(--color-orange);
}

.color-pink {
  color: var(--color-pink);
  fill: var(--color-orange);
}

.bgcolor-whitedark {
  background-color: var(--color-white-dark-3);
}

.bgcolor-white {
  background-color: #fff;
}

.bgcolor-whitelight {
  background-color: var(--color-white-light-1);
}

.bgcolor-blue {
  background-color: var(--color-blue-light);
}

.bgcolor-Littlered {
  background-color: rgba(239, 68, 68, 0.05);
}

.bgcolor-Littlegreen {
  background-color: rgba(34, 197, 94, 0.05);
}

.btn-backgroundColor:focus, .btn-backgroundColor:hover {
  background-color: rgba(var(--color-red), 0.2);
}

/* 颜色只认类，不认:focus */
.btn-normal-color {
  color: var(--color-black-dark);
  background-color: var(--color-white-dark-3);
}

.btn-active-red {
  background: var(--color-red);
  color: #fff;
}

.btn-active-green {
  background: var(--color-green);
  color: #fff;
}

.not-focus {
  border: 1px solid var(--color-white-dark-1);
}

.focus-red {
  border: 2px solid var(--color-red);
}

.focus-green {
  border: 2px solid var(--color-green);
}

.log {
  height: 100vh;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  font-size: 1.4rem;
  color: var(--color-gray);
}

.top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to left, var(--color-blue-dark), var(--color-blue-light));
  text-align: center;
  padding: 2.8rem;
}

.bottom-sm {
  padding: 2.8rem;
  transition: all 0.4s ease-in-out;
}

.bottom-lar {
  height: 72vh;
  padding: 2.8rem;
  display: none;
  overflow: auto;
  transition: all 0.4s ease-in-out;
}

.header {
  border-bottom: 1px solid var(--color-white-dark-2);
  padding: 1.2rem 2.3rem;
  font-size: 1.15rem;
  background-color: var(--color-white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.header-nav {
  padding: 1.4rem 0 0;
}

.main {
  padding-bottom: 8rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;
  margin: 0.8rem 0 2rem;
}

.grid-half {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(2, 48%);
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 2.8rem;
  padding: 2.3rem 2rem;
  margin: 0.8rem 0 2rem;
  border: 1px solid var(--color-white-dark-1);
  height: 4.8rem;
  padding: 1.2rem 1.4rem;
}
.form-input:focus {
  outline: auto;
  outline-color: var(--color-blue-light);
}
.form-input::placeholder {
  font-size: 1.4rem;
}
.form-input__section {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 2.8rem;
  padding: 2.3rem 2rem;
  margin: 0.8rem 0 2rem;
  border: 1px solid var(--color-white-dark-1);
  height: 3.6rem;
  width: 10rem;
  padding: 0 1rem;
}
.form-input__section:focus {
  outline: auto;
  outline-color: var(--color-blue-light);
}

.form-button {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 4.6rem;
  margin: 1.4rem 0 2rem;
  border: none;
  color: var(--color-white);
  transition: all 0.3s;
}
.form-button:focus {
  background-color: var(--color-blue-dark-1);
}
.form-button__top {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 4.6rem;
  margin: 1.4rem 0 2rem;
  border: none;
  transition: all 0.3s;
}
.form-button__gridRed {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 0.6rem 0.4rem;
  transition: all 0.3s;
}
.form-button__gridGreen {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 0.6rem 0.4rem;
  transition: all 0.3s;
}

.form-textarea {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 2.8rem;
  padding: 2.3rem 2rem;
  margin: 0.8rem 0 2rem;
  border: 1px solid var(--color-white-dark-1);
  padding: 1.6rem;
  height: 8rem;
}
.form-textarea:focus {
  outline: auto;
  outline-color: var(--color-blue-light);
}

.form-section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}
.form-section__button {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 4.6rem;
  margin: 1.4rem 0 2rem;
  border: 1px dashed var(--color-white-dark-1);
  background-color: #fff;
}
.form-section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-section__bottom {
  display: block;
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 2.8rem;
  padding: 2.3rem 2rem;
  margin: 0.8rem 0 2rem;
  border: 1px solid var(--color-white-dark-1);
  height: 3.6rem;
  padding: 0 1rem;
  margin-bottom: 0;
}
.form-section__bottom:focus {
  outline: auto;
  outline-color: var(--color-blue-light);
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
}
nav div {
  border-radius: 40px;
  padding: 1rem 1.8rem;
}
nav div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-gray);
}
nav div a svg {
  fill: var(--color-gray);
}
nav div a:focus, nav div a:link, nav div a:active {
  color: var(--color-blue-light);
}
nav div a:focus svg, nav div a:link svg, nav div a:active svg {
  fill: currentColor;
}
nav div a span {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.2rem;
  height: 2.2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: all 0.3s;
  border-radius: 50px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  left: 3px;
  bottom: 2px;
  background: #fff;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background: #2196f3;
}

input:checked + .slider::before {
  transform: translateX(2rem);
}

/*# sourceMappingURL=style.css.map */
