///////////////
/// text-color

.text-h1 {
    font-size: 2.4rem;
    color: var(--color-white);
}

.text-h2 {
    font-size: 2rem;
    color: var(--color-black-dark);
}

.text-h3 {
    font-size: 1.6rem;
    color: var(--color-black-dark);
}

.text-p {
    text-align: center;
    color: var(--color-white-dark);
}

.text-a {
    text-decoration: none;
    color: var(--color-blue-light);
}

.text-btn {
    outline: none;
    border: none;
    color: var(--color-blue-light);
    transition: all .2s;
}

.text-addPart {
    border-radius: 20px;
    padding: 1.4rem;
    margin: 1.4rem 0 0;
    background-color: var(--color-background);
}

.text-Setpart {
    padding: .8rem 0;
    border-bottom: 1px solid var(--color-white-dark-2);
}

////////////////
/// font
.font-max {
    font-size: 2.8rem;
}

.font-lar {
    font-size: 2.4rem;
}

.font-plus {
    font-size: 2.3rem;
}

.font-big {
    font-size: 1.6rem;
}

.font-med {
    font-size: 1.5rem;
}

.font-sm {
    font-size: 1.4rem;
}

.font-tiny {
    font-size: 1.2rem;
}

.font-min {
    font-size: 1.1rem;
}

/// weight
.font-thick {
    font-weight: 700;
}

.font-fat {
    font-weight: 500;
}

/////////////////
/// svg
.svg-frame {
    width: 4rem;
    height: 4rem;
}

.svg-big {
    width: 2.4rem;
    height: 2.4rem;
}

.svg-med {
    width: 2rem;
    height: 2rem;
}

.svg-sm {
    width: 1.6rem;
    height: 1.6rem;
}

.svg-tiny {
    width: 1.2rem;
    height: 1.4rem;
}

/////////////////
/// frame-line
.margin-big {
    margin-bottom: 2rem;
}

.margin-med {
    margin-bottom: 1.5rem;
}

.margin-sm {
    margin-bottom: 1.2rem;
}

.margin-left {
    margin-left: .8rem;
}

.padding-nor {
    padding: 2.3rem;
}

.padding-sm {
    padding: 1.5rem;
}

.padding-tiny {
    padding: 1rem 1.6rem;
}

.padding-updown {
    padding: 1.2rem .9rem;
}

.padding-lr {
    padding: 0 1rem;
}

.border-circle {
    border-radius: 50px;
}

/////////////////
/// box-shadow
.shadow-light {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05)
}

.shadow-Littledark {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-dark {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1), 0 15px 20px rgba(0, 0, 0, 0.06);
}

.shadow-nav {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

/////////////////
/// color
.black {
    color: #000;
}

.color-gray {
    color: var(--color-gray-light);
    fill: var(--color-gray-light);
}

.color-blue {
    color: var(--color-blue-dark-1);
    fill: var(--color-blue-dark-1);

}

.color-purple {
    color: var(--color-purple);
    fill: var(--color-purple);

}

.color-green {
    color: var(--color-green);
    fill: var(--color-green);
}

.color-red {
    color: var(--color-red);
    fill: var(--color-red);

}

.color-orange {
    color: var(--color-orange);
    fill: var(--color-orange);

}

.color-pink {
    color: var(--color-pink);
    fill: var(--color-orange);

}

.bgcolor-whitedark {
    background-color: var(--color-white-dark-3);
}

.bgcolor-white {
    background-color: #fff;
}

.bgcolor-whitelight {
    background-color: var(--color-white-light-1);
}

.bgcolor-blue {
    background-color: var(--color-blue-light);
}

.bgcolor-Littlered {
    background-color: rgba(#ef4444, .05);
}

.bgcolor-Littlegreen {
    background-color: rgba(#22c55e, .05);
}

//////////////////
/// bgc
.btn-backgroundColor {

    &:focus,
    &:hover {
        background-color: rgba(var(--color-red), .2);
    }
}

//////////////////
/// btn 
/* 颜色只认类，不认:focus */
.btn-normal-color {
    color: var(--color-black-dark);
    background-color: var(--color-white-dark-3);
}

.btn-active-red {
    background: var(--color-red);
    color: #fff;
}

.btn-active-green {
    background: var(--color-green);
    color: #fff;
}

/////////////////
/// focus
.not-focus {
    border: 1px solid var(--color-white-dark-1);
}

.focus-red {
    border: 2px solid var(--color-red);
}

.focus-green {
    border: 2px solid var(--color-green);
}