////////////////
/// form
@mixin size {
    display: block;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

@mixin border {
    height: 2.8rem;
    padding: 2.3rem 2rem;
    margin: .8rem 0 2rem;
    border: 1px solid var(--color-white-dark-1);

    &:focus {
        outline: auto;
        outline-color: var(--color-blue-light);
    }

}

.form-input {
    @include size();
    @include border();
    height: 4.8rem;
    padding: 1.2rem 1.4rem;

    &::placeholder {
        font-size: 1.4rem;
    }

    &__section {
        @include size();
        @include border();
        height: 3.6rem;
        width: 10rem;
        padding: 0 1rem;
    }

}

.form-button {
    @include size();
    height: 4.6rem;
    margin: 1.4rem 0 2rem;
    border: none;
    color: var(--color-white);
    transition: all .3s;

    &:focus {
        background-color: var(--color-blue-dark-1);
    }

    &__top {
        @include size();
        height: 4.6rem;
        margin: 1.4rem 0 2rem;
        border: none;
        transition: all .3s;
    }

    &__gridRed {
        @include size();
        padding: .6rem .4rem;
        transition: all .3s;
    }

    &__gridGreen {
        @include size();
        padding: .6rem .4rem;
        transition: all .3s;
    }
}

.form-textarea {
    @include size();
    @include border();
    padding: 1.6rem;
    height: 8rem;
}

.form-section {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 1.2rem;
    }

    &__button {
        @include size();
        height: 4.6rem;
        margin: 1.4rem 0 2rem;
        border: 1px dashed var(--color-white-dark-1);
        background-color: #fff;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    &__bottom {
        @include size();
        @include border();

        height: 3.6rem;
        padding: 0 1rem;
        margin-bottom: 0;
    }
}