.switch {
    position: relative;
    display: inline-block;
    width: 4.2rem;
    height: 2.2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: all .3s;
    border-radius: 50px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    left: 3px;
    bottom: 2px;
    background: #fff;
    transition: .3s;
    border-radius: 50%;
}

input:checked+.slider {
    background: #2196f3;
}

input:checked+.slider::before {
    transform: translateX(2rem);
}